<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Details</title>
</head>
<body>
    <h1>
        <a href="{% url "leads:lead-list" %}">back to leads</a> <hr>
        {{ lead.first_name }}
        <p>Agent for this lead is : {{ lead.agent }} </p>
        <p>Age is : {{ lead.age }} </p>

        {% comment %} <hr><a href="/leads/{{lead.id}}/update/">Update Lead</a> {% endcomment %}
        <hr><a href="{% url 'leads:lead-update' lead.id %}">Update Lead</a>

        <a href="/leads/{{lead.pk}}/delete/">Delete</a>

        <br>
    </h1>
</body>
</html>